body{
    background-color: #e4c1f9;
    color: black;
    font-family: serif;
}

q{
    quotes: """ """;
    font-style: italic;
}

.navigacija{
    float: left;
    border: none;
    outline: none;
    position: fixed;
    top: 0%;
    width: 100%;
}

.stvar{
    width: 20%;
    background-color: #D3F8E2;
    color: burlywood;
    float: left;
    border: none;
    outline: none;
    padding-bottom: 7px;
    padding-top: 7px;
    text-align: center;
    text-decoration: none;
    font-size: large;
}

a:hover{
    background-color: #F694C1;
    color: #EDE7B1;
}

section{
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-areas: 
    "A A A A A A"
    "E E B B B C"
    "E E D D D C"
    "F F D D D G"
    "F F D D D G";
    row-gap: 2rem;
    column-gap: 2rem;
    grid-column: auto;
    grid-row: auto;
    grid-template-columns: auto;
    grid-template-rows: auto;
}

.naslov{
    grid-area: A;
    background-image: url(pozadina.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    font-weight: bolder;
    font-size: 3em;
}

.ga{grid-area: G;}

img{
    object-fit: cover;
    width: 100%;
    align-items: center;
}

.tekst{grid-area: B;}

.video{grid-area: C;}

.pjesme{grid-area: D;}

.koncert{grid-area: E;}

.koncert2{grid-area: F;}


div{
    padding: 2rem;
    background-color: burlywood;
    border-radius: 2em;
    border-style: none;
}

table{
    width: 100%;
    caption-side: top;
    text-align: center;
    border-collapse: separate;
    border-spacing: 0;
    table-layout: auto;
}

caption{
    font-weight: bold;
}

table, td, th{
    border-top: 1px;
    border-bottom: 1px;
    border-left: 1px;
    border-right: 1px;
    border-color: #D3F8E2;
    border-style: solid;
    font-family: serif;
    color: black;
}

thead{
    font-weight: bolder;
    font-family: serif;
    color: black;
}

.kraj{
    display: block;
    background-color: #D3F8E2;
    color: burlywood;
    bottom: 0;
    width: 100%;
    height: auto;
    text-align: center;
    font-weight: bolder;
}

h1{
    color: #F694C1;
    font-weight: bolder;
    text-shadow: 5px 1px #EDE7B1;
}

.slova{
    font-size: 13px;
    font-family: serif;
}